fastapi
uvicorn
pandas
numpy
scikit-learn
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic[email]
python-dotenv
psycopg2-binary
google-genai
requests
httpx
